*{
  padding: 0;
  margin: 0;
}

body{
  counter-reset: section;
  background-image: url(img/background.png);
  background-size: 100%;
}
header{
  background: #fff ;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  margin: 0 auto;
  box-shadow: 1px 2px  #DCE1E6;
}

.img_base{
  margin-top: 17px;
  height:140px;
}

.hedbut {
  background: transparent;
  margin: 30px;
  margin-right: 0px;
  width: 180px;
  border: none;
  height: 85px;
  font-family: Times New Roman;
  font-size: 25px;
}

.hedbut:hover{
  background: #EDEEF0;
  transition: all 0.2s linear 0s;
  color: #3677C5;
}
